.primaryInput {
  font-size: 52px;
  width: 130px;
  border: none;
}

.autoSize {
  width: initial;
  max-width: 138px;
  field-sizing: content;
}

.label {
  color: black;
  opacity: 0.65;
  font-size: 24px;
  font-weight: 500;
}

.group {
  text-wrap: nowrap;
}

.units {
  font-weight: 500;
  font-size: 32px;
  color: var(--darkGray);
}

@media (max-width: 600px) {
  .primaryInput {
    text-align: center;
  }
}