.primaryInput {
  font-size: 64px;
  width: 138px;
  border: none;
}

.autoSize {
  width: initial;
  max-width: 138px;
  field-sizing: content;
}

.label {
  color: var(--darkGray);
  font-size: 30px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}

.group {
  text-wrap: nowrap;
}

.units {
  font-weight: 500;
  font-size: 32px;
  color: var(--darkGray);
}

@media (max-width: 600px) {
  .primaryInput {
    text-align: center;
  }
}