.primaryInput {
  font-size: 64px;
  width: 138px;
  border: none;
}

.label {
  font-size: 30px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (max-width: 600px) {
  .primaryInput {
    text-align: center;
  }
}