.performer {
  display: flex;
  flex-direction: row;
}

.vaxis {
  user-select: none;
}

.label {
  cursor: pointer;
  transition: opacity .2s ease-out;
  opacity: 1;
}

.label:hover {
  opacity: 0.5;
}

.step {
  margin-top: 8.5px;
  position: relative;
  border-right: 1px solid #d3d3d3;
  height: 261px;
}

.step:last-of-type {
  border-right: 1px solid white;
}

.stepBorder {
  fill: none;
}

.stepLabel {
  color: black;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: right;
  padding: 8px;
  font-size: 24px;
}

.step:hover {
  border-right: 1px solid white;
}

.step:hover .stepBorder {
  fill: #376BE8;
  stroke: none;
}

.step:hover .stepLabel {
  color: white;
}

.controlPoint {
  cursor: pointer;
}