.timeline {
  display: flex;
  flex-direction: row;
  min-width: 0;
}

.vaxis {
  user-select: none;
  flex-grow: 0;
  flex-shrink: 0;
}

.haxis {
  position: absolute;
  left: 0;
  bottom: -48px;
  height: 32px;
  border-top: 1.5px solid #A5A5A5;
  display: flex;
  align-items: flex-end;
  user-select: none;
}

.haxis:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 16px;
  border-left: 1.5px solid #A5A5A5;
  width: 2px;
}

.haxisTick {
  font-size: 18px;
  width: 145.5px;
}

.haxisTick:first-of-type:before {
  content: initial;
}

.haxisTick:before {
  content: '';
  display: block;
  position: relative;
  top: -2px;
  width: 2px;
  height: 8px;
  border-left: 1.5px solid #A5A5A5;
}

.haxisTickLabel {
  position: relative;
  left: -9.5px;
}

.label {
  cursor: pointer;
  transition: opacity .2s ease-out;
  opacity: 1;
}

.label:hover {
  opacity: 0.5;
}

.step {
  cursor: pointer;
  margin-top: 8.5px;
  position: relative;
  height: 261px;
}

.stepBorder {
  fill: none;
  transition: fill 0.2s ease-out;
  pointer-events: none;
}

.stepCenter {
  stroke: #A0A0A0;
  pointer-events: none;
}

.stepDecorator {
  pointer-events: none;
}

.stepLabel {
  color: black;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: right;
  padding: 8px;
  font-size: 24px;
  pointer-events: none;
}

.stepBorder {
  pointer-events: none;
}

.step:hover .stepBorder {
  fill: #D3D3D3;
}

.step.current .stepBorder {
  fill: var(--primary);
  stroke: none;
}

.step.current .stepLabel {
  color: white;
}

.step:hover .stepCenter {
  stroke: white;
}

.step.current .stepCenter {
  stroke: white;
}

.controlPoint {
  cursor: pointer;
}

.view {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.playhead {
  position: absolute;
  margin-left: -9px;
  transition: left .2s ease-out;
  pointer-events: none;
}

.value {
  stroke: black;
  pointer-events: none;
}

.step.current .value {
  stroke: white;
}

.manageButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}
