.module {
  margin: 4px;
  border: 1px solid var(--xlightGray);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header h2 {
  user-select: none;
  color: black;
  margin: 0 8px;
  cursor: pointer;
  opacity: 0.65;
  transition: opacity .1s ease-out;
  font-size: 24px;
  font-weight: 500;
}

.header h2:hover {
  opacity: 1;
}

.header img {
  user-select: none;
}

.controls {
  margin-top: -24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc(32px + 8px);
  overflow-x: auto;
  gap: 2px;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
    gap: 1.5rem;
  }
}