.plot {
  width: 100%;
}

.plot text {
  font-size: 16px;
}

.axisBottom {
  color: var(--lightGray);
}

.axisBottom text {
  fill: var(--darkGray);
}

.axisBottom__domain {
  stroke: var(--lightGray);
}

.axisBottom > .domain {
  visibility: hidden;
}

.axisLeft {
  color: var(--lightGray);
}

.axisLeft text {
  fill: var(--darkGray);
}