:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary: #376be8;
  --primaryLight: #6088e4;
  --danger: #ec008c;
  --warning: #fcd116;
  --darkGray: #3B4A51;
  --lightGray: #898989;
}

body {
  max-width: 1280px;
  margin: auto;
  padding: 0 24px;
}

button {
  cursor: pointer;
  padding: 10px 16px;
  background-color: var(--primary);
  border-radius: 8px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  min-width: 6rem;
  opacity: 0.8;
  transition: opacity 0.3s ease-out;

  background-image: repeating-linear-gradient(
    0deg,
    var(--primary),
    var(--primaryLight)
  );
}

button:hover {
  opacity: 1;
}

button.warning {
  text-shadow: 0 0 3px #000;
  background-image: repeating-linear-gradient(
    -55deg,
    #000,
    #000 20px,
    var(--warning) 20px,
    var(--warning) 40px
  );
}

button.danger {
  background-color: var(--danger);
}

button.estop {
  padding: 6px 16px;
}

.module {
  margin: 4px;
  border: 1px solid var(--lightGray);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.module__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.module__header h2 {
  user-select: none;
  margin: 0 8px;
}

.module__header img {
  user-select: none;
}

.module__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc(32px + 8px);
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .module__controls {
    flex-direction: column;
  }
}