.plotHeader {
  display: flex;
  flex-direction: row;
}

.plotToolbar {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.plotStrip {
  display: flex;
  flex-direction: row;
}

.plotScroll {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 8px;
}

.plot text {
  font-size: 16px;
}

.axisBottom {
  color: var(--lightGray);
}

.axisBottom text {
  fill: var(--darkGray);
}

.axisBottom__domain {
  stroke: var(--lightGray);
}

.axisBottom > .domain {
  visibility: hidden;
}

.axisLeft {
  color: var(--lightGray);
  flex-shrink: 0;
}

.axisLeft text {
  fill: var(--darkGray);
}