.plotPane {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 8px;
}

.plotArea {
  display: flex;
  flex-direction: row;
}

.plot text {
  font-size: 16px;
}

.axisBottom {
  color: var(--lightGray);
}

.axisBottom text {
  fill: var(--darkGray);
}

.axisBottom__domain {
  stroke: var(--lightGray);
}

.axisBottom > .domain {
  visibility: hidden;
}

.axisLeft {
  color: var(--lightGray);
  flex-shrink: 0;
}

.axisLeft text {
  fill: var(--darkGray);
}