.plotHeader {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.mode {
  color: var(--darkGray);
}

.plotToolbar {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  flex-wrap: wrap;
}

.toolbarGroup {
  margin: 0 16px;
}

@media (max-width: 600px) {
  .plotHeader {
    flex-direction: column;
    gap: 0;
    margin-top: 16px;
    margin-bottom: 32px;
    align-items: flex-start;
  }

  .plotToolbar {
    justify-content: flex-start;
  }
}

.plotStrip {
  display: flex;
  flex-direction: row;
}

.plotScroll {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 16px;
}

.plot text {
  font-size: 16px;
}

.axisBottom {
  color: var(--lightGray);
  user-select: none;
}

.axisBottom text {
  fill: var(--darkGray);
}

.axisBottom__domain {
  stroke: var(--lightGray);
}

.axisBottom > .domain {
  visibility: hidden;
}

.axisLeft {
  color: var(--lightGray);
  flex-shrink: 0;
  user-select: none;
}

.axisLeft text {
  fill: var(--darkGray);
}

.legend {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
  user-select: none;
}

.legendItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--darkGray);
}

.legendColor {
  width: 16px;
  height: 16px;
}