.input {
  font-size: 16px;
  padding: 8px;
  border: 1px solid var(--medium);
  border-radius: 6px;
}

.label {
  display: block;
  color: var(--medium);
  font-size: 16px;
  font-weight: 500;
  margin: 12px 12px;
}
