.velocitySlider {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: -1rem;
}

@media (max-width: 600px) {
  .velocitySlider {
    margin-right: initial;
  }
}

.velocitySlider text {
  user-select: none;
}

.sliderHead {
  cursor: pointer;
}

.sliderHead:hover {
  stroke: #5B5B5B;
  fill: #A5A5A5;
}

.mark {
  cursor: pointer;
  transition: fill .2s ease-out;
}

.mark:hover {
  fill: #3B4A51;
}

.label {
  cursor: pointer;
  transition: fill-opacity .2s ease-out;
}

.label:hover {
  fill-opacity: 0.5;
}

.jumpButton {
  cursor: pointer;
}

.jumpBorder {
  visibility: hidden;
}

.jumpButton:hover .jumpBorder {
  visibility: visible;
}
