.group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.relaxed {
  gap: 8px;
}

.tight {
  gap: 0;
}

.center {
  align-items: center;
}

.vertical {
  flex-direction: column;
  justify-content: center;
}

.top {
  align-self: flex-start;
}

.marginTop {
  margin-top: 28px;
}
